.option {
    background-color: #ffffff;
    border-radius: .5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    opacity: .8;
    transition: 0.4s;
}

.option:hover {
    opacity: 1;
}

#options-container .option p {
    margin-bottom: 0;
}

.correct {
    background-color: #22e71b;
    color: #000000;
}

.wrong {
    background-color: #f51432;
    opacity: 0.6;
}