#question {
    text-align: left;
    max-width: 500px;
    background-color: #dad88e;
    padding: 0.5rem;
}

#question h5 {
    margin-bottom: 0.5rem;
    color: #0906a3;
}

#question p {
    margin-bottom: 1rem;
}

