#welcome {
    text-align: center;
    max-width: 500px;
}

#welcome h2 {
    padding-top: 3rem;
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

#welcome p {
    color: #0906a3;
    font-size: 1.6rem;
    font-weight: bold;
}

#welcome img {
    margin-top: 2rem;
}