* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: 1.1rem;
  color: #000000;
}

body,
html {
  min-height: 100vh;
  height: 100%;
  background-color: #dad88e;
}

img {
  max-width: 96%;
}

button {
  font-weight: bold;
  font-size: 1.2rem;
  /* cursor: pointer; */
  margin: 1rem;
  padding: .8rem;
  background: linear-gradient(
    90deg,
    rgb(222, 177, 53) 0%,
    rgb(230, 255, 1) 100%
  );
  border-radius: 3rem;
  border: 2px solid #fffcfc;
}

button:hover {
  background: linear-gradient(
    90deg,
    rgb(232, 230, 84) 0%,
    rgb(222, 189, 2) 100%
    
  );
}